iniconfig==2.3.0
packaging==26.0
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.2
mypy==1.15.0
httpx==0.28.1
pytest-asyncio==0.25.3
respx==0.22.0
dependency-injector==4.46.0
pydantic==2.11.2
starlette==0.46.2
uvicorn==0.34.3
